.cart {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 40px 80px;
  background-color: white;
  min-height: calc(100vh - 100px);
}

.cartEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  padding: 40px 80px;
  background-color: white;
  min-height: calc(100vh - 100px);
}
.cart h1 {
  text-align: start;
}

.cart ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.checkout {
  display: grid;
  grid-template-columns: auto auto;
  width: 400px;
  gap: 1em;
  font-size: 1.2em;
  align-self: flex-end;
}
.checkout span:nth-child(2) {
  justify-self: end;
}

.checkout span:nth-child(3) {
  grid-column: span 2;
}

.checkout:last-child(1) {
  grid-column: span 2;
}
