.cartItem {
  font-family: monospace;
  font-size: 1.2em;
  display: grid;
  grid-template-columns: minmax(200px, 300px) 1fr auto;
  align-items: center;
  gap: 2em;
  border-bottom: 1px solid rgba(128, 128, 128, 0.361);
  padding-bottom: 1em;
}
/* .cartItem img {
  max-width: 200px;
  height: auto;
} */

.titlePrice {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
.quantity {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.quantity > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.count {
  border: 1px solid black;
}
