.cartItem {
  font-family: monospace;
  font-size: 1.2em;
  display: grid;
  grid-template-columns: minmax(200px, 300px) 1fr auto;
  align-items: center;
  gap: 2em;
  border-bottom: 1px solid rgba(128, 128, 128, 0.361);
  padding-bottom: 1em;
}
.cartImage {
  /* background-color: red; */
  border-radius: 8px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}

.titlePrice {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
.quantity {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.quantity > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.count {
  border: 1px solid black;
}

.darkTheme {
  background-color: var(--color-dark--0);
  transition: all 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.361);
}

.lightTheme {
  background-color: white;
  transition: all 0.5s;
}
