.productCard {
  font-family: inherit;
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  border-top: 1.5em var(--color-3) solid;
  gap: 1em;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding-bottom: 0;
  background-color: rgb(255, 255, 255);
  transition: transform 0.5s;
}

.productCard:hover {
  /* transform: scale(1.1); */
}

.title {
  margin-top: 1em;
  width: 80%;
  text-align: center;
  text-wrap: wrap;
  border-bottom: 2px rgb(236, 232, 232) solid;
  font-size: 1.2em;
  padding: 0 2em;
  cursor: pointer;
}

.desc {
  font-size: 0.8em;
  color: rgba(28, 28, 28, 0.563);
  width: 75%;
  text-wrap: pretty;
  padding: 0 2em;
}

.image {
  border-radius: 8px;
  width: 150px;
  width: 100%;
  text-align: center;
  transition: transform 0.5s;
  padding: 0 3em;
  cursor: pointer;
}

.image:hover {
  transform: scale(1.2);
}
.image img {
  width: 150px;
  height: auto;
}

.cart {
  display: flex;
  align-items: center;
  gap: 2em;
  align-self: end;
  width: 100%;
  transition: opacity 0.5s;
}
.cart:hover {
  opacity: 0.5;
}

.count {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}

.cost {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
}

.price {
  font-size: 2em;
  font-weight: bold;
}
img {
  height: 10em;
}
