.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background: rgb(0, 149, 255);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  height: 100px;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  list-style-type: none;
}
.nav ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  list-style-type: none;
}
.nav span {
  font-size: 1.4em;
}
.img {
  height: 1.8rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}
